/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
	--color-primary: #6f86d6;
	--color-secondary: #48c6ef;
	--box-shadow-small: 0 0 5px rgba(0, 0, 0, 0.1);
	--box-shadow-big: 0 0 15px rgba(0, 0, 0, 0.2);
}

::-moz-selection {
	background: var(--color-primary);
	color: white;
}

::selection {
	background: var(--color-primary);
	color: white;
}

html {
	scroll-behavior: smooth;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::before,
*::after {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	height: 100%;
	width: 100%;
	font-size: 2rem;
	font-family: 'Lato', sans-serif;
	color: rgba(0, 0, 0, 0.65);
	overflow: hidden;
}

.body-noscroll {
	overflow: hidden !important;
}

.loader,
.nav-button,
.sidebar,
.header,
.about-card,
.projects,
.contact,
.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.loader {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 10;
	background: white;
}

.loader-spinner {
	height: 5rem;
	width: 5rem;
	z-index: 11;
	fill: var(--color-primary);
	-webkit-animation: spin 3s infinite linear;
	animation: spin 3s infinite linear;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

a:link,
a:active,
a:visited {
	text-decoration: none;
	color: white;
}

.nav-button {
	height: 5rem;
	width: 5rem;
	background: white;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 1.5rem;
	right: 1.5rem;
	z-index: 3;
	border-radius: 5px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.nav-button:hover {
	cursor: pointer;
}

.nav-button-active {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.nav-button-bar-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.nav-button-bar {
	height: 0.5rem;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#48c6ef),
		to(#6f86d6)
	);
	background-image: -o-linear-gradient(left, #48c6ef, #6f86d6);
	background-image: linear-gradient(90deg, #48c6ef, #6f86d6);
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
}

.nav-button-bar-1 {
	margin-bottom: 0.5rem;
	width: 3rem;
}

.nav-button-bar-1-active {
	margin-bottom: 1.1rem;
	background: white;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-button-bar-2 {
	width: 2rem;
}

.nav-button-bar-2-active {
	width: 3rem;
	margin-top: 0.6rem;
	background: white;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.filter {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
	display: none;
}

.filter-active {
	display: block;
}

.sidebar {
	font-family: 'Rubik', sans-serif;
	height: 100vh;
	width: 30vw;
	font-size: 2.5rem;
	color: white;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#48c6ef),
		to(#6f86d6)
	);
	background-image: -o-linear-gradient(top, #48c6ef, #6f86d6);
	background-image: linear-gradient(180deg, #48c6ef, #6f86d6);
	position: fixed;
	right: 0;
	z-index: 2;
	-webkit-box-shadow: var(--box-shadow-small);
	box-shadow: var(--box-shadow-small);
	display: none;
}

.sidebar-active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sidebar-link-container:not(:last-child) {
	margin-bottom: 7rem;
}

.sidebar-link {
	padding-bottom: 0.5rem;
	position: relative;
	text-transform: uppercase;
}

.sidebar-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	border-radius: 5px;
	left: 0;
	width: 0;
	background: white;
	z-index: -1;
	height: 8%;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.sidebar-link:hover::after {
	width: 100%;
}

.header,
.about,
.projects,
.contact {
	padding: 7.5%;
}

.header {
	position: relative;
	min-height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
}

.header-image {
	height: 20rem;
	width: 20rem;
	margin-bottom: -1rem;
}

.blob {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25rem 0 0 -25rem;
	width: 50rem;
	height: 50rem;
	z-index: -1000;
	opacity: 0.2;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.header-heading {
	font-family: 'Rubik', sans-serif;
	text-align: center;
	margin: 0 0 0.5rem 0;
	font-weight: 400;
	font-size: 4rem;
}

#name:link,
#name:active,
#name:visited {
	color: rgba(0, 0, 0, 0.8);
	font-weight: 900;
	border-bottom: 5px solid var(--color-secondary);
}
#name:hover {
	color: var(--color-secondary);
}

.header-text {
	margin-bottom: 3rem;
	text-align: center;
	line-height: 1.5;
	width: 60%;
}

.header-button {
	width: 18rem;
	font-size: 1.8rem;
	color: white;
	text-align: center;
	padding: 1rem;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#48c6ef),
		to(#6f86d6)
	);
	background-image: -o-linear-gradient(left, #48c6ef, #6f86d6);
	background-image: linear-gradient(90deg, #48c6ef, #6f86d6);
	border-radius: 1000px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	border: 1px solid rgba(255, 255, 255, 0);
	-webkit-box-shadow: var(--box-shadow-small);
	box-shadow: var(--box-shadow-small);
}

.header-button:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-box-shadow: var(--box-shadow-big);
	box-shadow: var(--box-shadow-big);
}

.header-button:active {
	-webkit-box-shadow: var(--box-shadow-small);
	box-shadow: var(--box-shadow-small);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header-icon {
	height: 2rem;
	width: 2rem;
	position: absolute;
	bottom: 1rem;
	-webkit-transform: translateY(-3rem);
	-ms-transform: translateY(-3rem);
	transform: translateY(-3rem);
	opacity: 0;
}

.about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow-x: hidden;
}

.about-heading,
.project-heading,
.contact-heading {
	font-family: 'Rubik', sans-serif;
	font-weight: 900;
	font-size: 6rem;
	line-height: 1.3;
}

.about-heading {
	text-align: left;
	width: 35%;
}

.about-card-container {
	width: 50%;
}

.about-card {
	border-radius: 10px;
	padding: 1.5rem;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-box-shadow: var(--box-shadow-small);
	box-shadow: var(--box-shadow-small);
}
.about-card:not(:last-child) {
	margin-bottom: 2rem;
}
.about-card:hover {
	-webkit-transform: translateY(-0.5rem) scale(1.02) !important;
	-ms-transform: translateY(-0.5rem) scale(1.02) !important;
	transform: translateY(-0.5rem) scale(1.02) !important;
	-webkit-box-shadow: var(--box-shadow-big);
	box-shadow: var(--box-shadow-big);
}

.about-card-illustration {
	height: 8rem;
}

.about-card-text {
	margin-left: 2rem;
	width: 80%;
}

.about-card-heading {
	font-family: 'Rubik', sans-serif;
	font-size: 2rem;
	margin-bottom: 0.5rem;
	color: var(--color-primary);
}

.projects {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow-x: hidden;
}

.project-heading {
	margin-bottom: 5rem;
}

.project-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}
.project-container:not(:last-child) {
	margin-bottom: 10%;
}

.project-image-wrapper {
	width: 35%;
	-webkit-box-shadow: var(--box-shadow-small);
	box-shadow: var(--box-shadow-small);
	overflow: hidden;
}
.project-image-wrapper-right {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.project-image {
	height: 100%;
	width: 100%;
	vertical-align: middle;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.project-image:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.project-wrapper {
	width: 55%;
}

.project-title {
	font-family: 'Rubik', sans-serif;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.project-icon-container {
	margin-bottom: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.project-icon {
	height: 2.2rem;
	width: 2.2rem;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	fill: var(--color-secondary);
}
.project-icon:not(:last-child) {
	margin-right: 1rem;
}
.project-icon:hover {
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.project-icon-bootstrap:hover {
	fill: #563d7c;
}
.project-icon-css3:hover {
	fill: #1572b6;
}
.project-icon-git:hover {
	fill: #f05032;
}
.project-icon-html5:hover {
	fill: #e34f26;
}
.project-icon-javascript:hover {
	fill: #f7df1e;
}
.project-icon-jquery:hover {
	fill: #0769ad;
}
.project-icon-nodejs:hover {
	fill: #393;
}
.project-icon-npm:hover {
	fill: #cb3837;
}
.project-icon-sass:hover {
	fill: #c69;
}

.project-icon-label {
	color: white;
	font-size: 1.2rem;
	font-weight: 600;
	margin-left: -0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 25px;
	display: none;
	background: rgba(0, 0, 0, 0.8);
}
.project-icon-label:not(:last-child) {
	margin-right: 1.5rem;
}
.project-icon:hover + .project-icon-label {
	display: block;
}

.project-text {
	font-size: 1.8rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

.project-button {
	border-radius: 1000px;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#48c6ef),
		to(#6f86d6)
	);
	background-image: -o-linear-gradient(left, #48c6ef, #6f86d6);
	background-image: linear-gradient(90deg, #48c6ef, #6f86d6);
	margin: 0 1.2rem 0.5rem 0;
	padding: 1rem;
	font-size: 1.4rem;
	display: inline-block;
	width: 12rem;
	text-align: center;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	border: 1px solid rgba(255, 255, 255, 0);
	-webkit-box-shadow: var(--box-shadow-small);
	box-shadow: var(--box-shadow-small);
}
.project-button:hover,
.project-button:active {
	background: white;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.project-button-github {
	background: white;
	color: var(--color-primary) !important;
	border: 1px solid var(--color-primary);
}
.project-button-github:hover {
	-webkit-box-shadow: var(--box-shadow-big);
	box-shadow: var(--box-shadow-big);
}

.contact {
	position: relative;
	min-height: 75vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#48c6ef),
		to(#6f86d6)
	);
	background-image: -o-linear-gradient(top, #48c6ef, #6f86d6);
	background-image: linear-gradient(180deg, #48c6ef, #6f86d6);
	color: white;
}

.contact-heading {
	font-weight: 300;
}

.contact-text {
	text-align: center;
	margin-bottom: 2rem;
	width: 80%;
	color: rgba(255, 255, 255, 0.8);
}

.contact-button {
	font-size: 2rem;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	padding: 1rem 2rem;
	border-radius: 100px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	background: rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: var(--box-shadow-small);
	box-shadow: var(--box-shadow-small);
}
.contact-button:hover {
	-webkit-transform: scale(1.05) !important;
	-ms-transform: scale(1.05) !important;
	transform: scale(1.05) !important;
	-webkit-box-shadow: var(--box-shadow-big);
	box-shadow: var(--box-shadow-big);
}
.contact-button:active {
	-webkit-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	transform: scale(1) !important;
	-webkit-box-shadow: var(--box-shadow-small);
	box-shadow: var(--box-shadow-small);
}

.footer {
	position: absolute;
	bottom: 2rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	color: rgba(255, 255, 255, 0.8);
}

.footer-icon {
	height: 2rem;
	width: 2rem;
	fill: white;
}
.footer-icon:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.footer-text {
	font-size: 1.2rem;
}

@media only screen and (max-width: 1024px) {
	body {
		font-size: 1.8rem;
	}

	.sidebar {
		width: 40vw;
	}

	.header,
	.about,
	.projects,
	.contact {
		padding: 10vh 5vw;
	}

	.project-image-wrapper {
		width: 45%;
	}

	.project-wrapper {
		width: 45%;
	}

	.project-title {
		font-size: 1.6rem;
	}

	.project-text {
		font-size: 1.6rem;
	}
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 1.6rem;
	}

	.header-button {
		font-size: 1.4rem;
		width: 16rem;
	}

	.nav-button {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}

	.sidebar {
		width: 60vw;
		font-size: 2rem;
	}

	.header-text {
		width: auto;
	}

	.about {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.about-card-container {
		width: 90%;
	}

	.about-heading,
	.project-heading {
		margin-bottom: 2rem;
	}

	.about-heading {
		text-align: center;
		width: auto;
	}

	.about-card-heading {
		font-size: 1.6rem;
	}

	.about-card-illustration {
		width: 40%;
	}

	.header,
	.about,
	.projects,
	.contact {
		padding: 10vh 10vw;
	}

	.project-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		border-radius: 5px;
		-webkit-box-shadow: var(--box-shadow-small);
		box-shadow: var(--box-shadow-small);
	}

	.project-container:not(:last-child) {
		margin-bottom: 20%;
	}

	.project-image-wrapper {
		width: 100%;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
		margin-bottom: 1rem;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.project-image-wrapper-right {
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 0;
		order: 0;
	}

	.project-wrapper {
		width: 100%;
		padding: 0 1rem 1rem 1rem;
	}

	.project-icon {
		height: 1.5rem;
		width: 1.5rem;
	}
	.project-icon:not(:last-child) {
		margin-right: 0.8rem;
	}

	.project-icon-label {
		padding: 0.2rem 0.8rem;
		margin-left: 0;
	}
	.project-icon-label:not(:last-child) {
		margin-right: 0.75rem;
	}

	.project-text {
		font-size: 1.4rem;
	}

	.project-button {
		width: 10rem;
		font-size: 1.2rem;
		padding: 0.75rem;
	}

	.contact-email {
		display: block;
	}

	.footer-text {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 600px) {
	.nav-button {
		top: 0.5rem;
		right: 0.5rem;
	}

	.sidebar {
		width: 100vw;
	}

	.blob {
		margin: -15rem 0 0 -15rem;
		width: 30rem;
		height: 30rem;
	}

	.about-heading,
	.project-heading,
	.contact-heading {
		font-size: 3rem;
	}

	.about-card {
		padding: 1rem;
	}

	.contact {
		background-position: 20%;
		background-size: auto 100vh;
	}

	.contact-heading {
		font-weight: 400;
	}

	.contact-text {
		width: 100%;
	}
}

@media only screen and (max-height: 400px) {
	.sidebar-link-container:not(:last-child) {
		margin-bottom: 4rem;
	}

	.header-icon {
		display: none;
	}

	.contact-text {
		margin-bottom: 1rem;
	}

	.footer {
		display: none;
	}
}

@-webkit-keyframes slide-down {
	0% {
		opacity: 0;
	}

	20% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	80% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0.5;
	}
}

@keyframes slide-down {
	0% {
		opacity: 0;
	}

	20% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	80% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0.5;
	}
}
